{% extends 'base.html' %}

{% block title %}
<title>Create an Account</title>
<style>
    .font-para {
        font-family: "Montserrat", sans-serif;
    }
    body {
        background-color: rgb(236, 236, 236);
    }
</style>
{% endblock %}

{% block body %}
<!-- NavBar -->
<div class="d-flex justify-content-between border p-3 align-items-center mb-5 font-para bg-light">
    <h1 class="h1">ThriveByChoice</h1>
    <a href="{% url 'index' %}" class="text-dark"><i class="fa-solid fa-xmark"></i></a>
</div>

<!-- Form -->
<div class="container w-25 border rounded-3 p-5 bg-light font-para">
    <form class="needs-validation" action="{% url 'signup' %}" method="post" novalidate>
        {% csrf_token %}
        <h3 class="h3 mb-3">Create an Account</h3>
        <div class="mb-3">
            <label for="email" class="form-label">Your Email</label>
            <input type="email" class="form-control" name="email" id="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password" required>
        </div>
        <div class="mb-3">
            <label for="cpassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" name="cpassword" id="cpassword" required>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" name="t_and_c" id="t_and_c">
            <label class="form-check-label text-secondary" for="t_and_c">I accept the <span style="font-weight: 600;"><a href="#" class="text-decoration-none text-dark">Terms and
                    Conditions</a></span></label>
        </div>
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        <div class="d-grid gap-2">
            <button type="submit" id="submit" class="btn btn-success" disabled><i class="fa-solid fa-user-plus"></i></button>
        </div>
        <p class="text-secondary mt-4">Already have an account? <span style="font-weight: 600;"><a class="text-decoration-none text-secondary" href="{% url 'login' %}">Login Here</a></span></p>
    </form>
</div>

<script>
    var checkbox = document.querySelector("input[name=t_and_c]");

    checkbox.addEventListener('change', function () {
        var btn = document.getElementById("submit");
        if (this.checked) {
            btn.removeAttribute("disabled");
        } else {
            btn.setAttribute("disabled", true);
        }
    });
</script>
{% endblock %}